@model Doctor


<div class="row">
    <div class="col-md-8 offset-2">

        @if(User.IsInRole("Admin"))
        {
            <div class="form-group">
                <a class="btn btn-outline-secondary" asp-controller="Doctors" asp-action="Create">Yeni həkim əlavə et</a>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Həkim</th>
                            <th>Vəzifə</th>
                            @if(!User.IsInRole("Admin"))
                            {
                                <th>Qəbula yazıl</th>
                            }
                            else if (User.IsInRole("Admin"))
                            {
                                <th>Nəzər yetir</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td></td>
                            <td>@Model.Name</td>
                            <td>@Model.Position</td>
                            @if (!User.IsInRole("Admin"))
                            {
                                <td>
                                    <a class="alert-primary" href="/Appointment/Create/@Model.Id">Növbə götür</a>
                                </td>
                            }
                            else if (User.IsInRole("Admin"))
                            {
                                <td>
                                    <a class="alert-primary" href="/Doctors/Edit/@Model.Id">Redaktə et</a>  <a class="alert-danger" href="/Doctors/Delete/@Model.Id">Sil</a>
                                </td>
                            }
                        </tr>
                    </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>