@model Appointment

<h2>Növbə üçün form</h2>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group">
                    <a class="btn btn-outline-secondary" asp-controller="Appointment" asp-action="Myappointments">Randevularım</a>
                </div>
                <p class="alert-primary">Həkim, @ViewData["DoctorInfo"] qəbula yazılmış posient sayı : @ViewData["posientCount"]</p>
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="PasientName" class="control-label">Ad</label>
                        <input asp-for="PasientName" type="text" class="form-control" />
                        <span asp-validation-for="PasientName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasientSurname" class="control-label">Soyadın</label>
                        <input asp-for="PasientSurname" type="text" class="form-control" />
                        <span asp-validation-for="PasientSurname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Age" class="control-label">Yaş</label>
                        <input asp-for="Age" type="text" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tel" class="control-label">Əlaqə nömrəsi</label>
                        <input asp-for="Tel" type="text" class="form-control" />
                        <span asp-validation-for="Tel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Disease" class="control-label">Xəstəlik</label>
                        <input asp-for="Disease" type="text" class="form-control" />
                        <span asp-validation-for="Disease" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateAndTime" class="control-label">Tarix</label>
                        <input asp-for="DateAndTime" type="date" class="form-control" />
                        <span asp-validation-for="DateAndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DoctorId" class="control-label">Həkim</label>
                        @Html.DropDownListFor(x => x.DoctorId, (List<SelectListItem>)ViewData["Doctors"], "Seçin", new { @class = "form-control" })<br />
                        <span asp-validation-for="DoctorId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Əlavə et" />
                        <a class="btn btn-outline-secondary" asp-controller="Appointment" asp-action="Index">Geriyə</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>