<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Hesabınız uğurla yaradıldı</h2>
        <p>Giriş edə bilərsiniz.</p>
        <hr />
        <p>Təşəkkürlər!</p>
    </div>
</div>