@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "İstifadəçilər";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-8 offset-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tam ad</th>
                            <th>İstifadəçi adı</th>
                            <th>Elektron poçt</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Model in Model)
                        {
                            <tr>

                                <td>@Model.FullName</td>
                                <td>@Model.UserName</td>
                                <td>@Model.Email</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
